.friend_list {
  margin-bottom: 60px;
}

.friend_item {
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 280px;
}
